In [1]:
# import modules

import pandas as pd
import numpy as np

In [2]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [13]:
# select the preTestScore column

PreTestScore_df = df.iloc[:,2].to_frame()
PreTestScore_df

   preTestScore
0             4
1            24
2            31
3             2
4             3

In [14]:
# find the standard deviation of preTestScore 

import numpy as np
std = np.std(PreTestScore_df)
print(std)

preTestScore    12.221293
dtype: float64

In [22]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore
#########


n_mean = np.mean(PreTestScore_df)
PreTestScore_df
PreTestScore_df[PreTestScore_df['preTestScore']>12.8]

   preTestScore
1            24
2            31

In [23]:
# select the rows in preTestScore with scores greater than the mean

PreTestScore_df[PreTestScore_df['preTestScore']>12.8]

   preTestScore
1            24
2            31

In [25]:
# create a new column that shows the score change from 
# preTestScore to postTestScore

tmp_df = df.copy()

tmp_df['score_difference'] = tmp_df['postTestScore'] - tmp_df['preTestScore']

tmp_df

    name  age  preTestScore  postTestScore  score_difference
0  Jason   42             4             25                21
1  Molly   52            24             94                70
2   Tina   36            31             57                26
3   Jake   24             2             62                60
4    Amy   73             3             70                67